.Intro{

}

.Intro-lobbys-container{
    display: inline-block;
}
.Intro-lobbys{
    display: inline-block;
    
}
.Intro-lobby{
    border: 2px solid black;
    align-items: center;
    width:350px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.Intro-button{
    background: none;
    border: none;
}
.Intro-button:hover{
    box-shadow: 2px 2px pink;
    font-style: italic;
    background-color: crimson;
}
.join-button{
    margin: auto 20px;
}
.lobby-name{
    margin: auto;
}

.curr-players{
    color: rgb(136, 208, 63);
}

.max-players{
    font-style: italic;
    color: black;
}

.Intro-title{
    font-weight: bolder;
}